.am_demod_hdl_coder_710,
.am_demod_hdl_coder_711,
.am_demod_hdl_coder_712,
.am_demod_hdl_coder_713,
.am_demod_hdl_coder_714 { background-image: url('am_demod_hdl_coder_71_icons.png'); width: 16px; height: 16px; }

.am_demod_hdl_coder_710 { background-position: -0px; }
.am_demod_hdl_coder_711 { background-position: -16px; }
.am_demod_hdl_coder_712 { background-position: -32px; }
.am_demod_hdl_coder_713 { background-position: -48px; }
.am_demod_hdl_coder_714 { background-position: -64px; }
